# === Node / JS basics ===
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-store/

# === Environment files ===
.env
.env.local
.env.*.local

# === Build outputs ===
.next/
dist/
out/
.cache/
coverage/
turbo/
*.tsbuildinfo

# === OS / Editor junk ===
.DS_Store
Thumbs.db

# === IDEs ===
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

# === Logs & Temp ===
*.log
logs/
tmp/

/generated/prisma
